{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul style="display: flex; justify-content: space-between;">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
      <li style="display: inline-block; margin-right: 50pt;">
        <button class="theme-toggle" id="theme-toggle" title="Toggle dark theme">☾</button>
      </li>
    </ul>
  </nav>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li style="display: inline-block; margin-right: 30pt;">
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}

<hr>

<script>
  const toggleButton = document.getElementById('theme-toggle');
  const body = document.body;

  toggleButton.addEventListener('click', () => {
    body.classList.toggle('dark-theme');
    toggleButton.innerText = body.classList.contains('dark-theme') ? '☀' : '☾';
    toggleButton.style.color = body.classList.contains('dark-theme') ? '#FFFFFF' : '#000000';
    localStorage.setItem('theme', body.classList.contains('dark-theme') ? 'dark' : 'light');
  });

  // Load theme from localStorage on page load
  const savedTheme = localStorage.getItem('theme');
  if (savedTheme === 'dark') {
    body.classList.add('dark-theme');
  }
</script>

<style>
.theme-toggle {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;

  background: none;
  border: none;
  color: none;

  text-decoration: underline;
  text-underline-offset: 0.3em;
}
</style>
