:root {
    --bg-color: #FFFFFF;
    --fg-color: #000000;

    --unvisited: #004080;
    --visited: #800040;

    --table-border: #ddd;
    --table-heading: #f2f2f2;
}

.dark-theme {
    --bg-color: #121212;
    --fg-color: #FFFFFF;

    --unvisited: #B0CFFF;
    --visited: #FFA7CE;

    --table-border: #353535;
    --table-heading: #252525;
}

@font-face {
    font-family: 'Gadelica';
    src: url('/fonts/Gadelica.woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond12-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/fonts/EBGaramond12-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sawarabi Mincho';
  src: url('/fonts/SawarabiMincho-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: var(--bg-color);
    color: var(--fg-color);

    font-family: EB Garamond, Serif;
    font-size: 1.15em;
    line-height: 1.25; /* try 1.5–1.7 depending on size */

    max-width: 600pt;
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
    padding-left:  20pt; 
    padding-right: 20pt; 
    counter-reset: figure-counter;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

li {
    margin-left: -13pt;
    padding-left:  5pt; 
    padding-right: 0pt; 
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    margin: 0.5; /* Reduce spacing below the title */
    line-height: 1.1; /* Keep it snug */
}

h2 {
    font-weight: normal;
}


img {
    display: block;
    max-width: 600pt;
    margin: auto;
}

a, button {
    color: var(--fg-color);
    text-underline-offset: 0.3em;
}

a:link:hover, button:hover, summary:hover, a:link:hover > code {
    color: var(--unvisited);
}

a:visited:hover, a:visited:hover > code {
    color: var(--visited);
}

code {
    font-size: 0.9em;
    color: var(--fg-color);
}

pre {
    border: 1px solid var(--table-border);
    padding: 10pt;
}

pre, code {
    font: Deja Vu Sans Mono, monospace;
    overflow-x: auto;
    white-space: pre;
}

table {
    display: block;
    white-space: nowrap;
    border-collapse: collapse;
    overflow: auto;
    table-layout: fixed;
    width: 100%;
}

th, td {
    text-align: center;
    border: 1px solid var(--table-border);
    padding: 8px;
    width: 1%;
}

th {
    background-color: var(--table-heading);
}

tr:nth-child(even) {
    background-color: var(--table-heading);
}

figcaption {
    text-align: center;
    text-justify: inter-word;
}

figcaption::before {
    content: "Figure " counter(figure-counter) ": ";
}

figure {
    text-align: center;
    border: 1px solid var(--fg-color);
    padding: 10px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    counter-increment: figure-counter;
}

img {
    max-width: 100%;
    margin-bottom: 5px;
}

details {
    border: 1px solid var(--fg-color); /* Border around the details */
    padding: 10px; /* Padding inside the border */
    margin: 10px 0; /* Margin to separate multiple details */
}

/* Style for the summary element (the clickable part) */
summary {
    outline: none;
    cursor: pointer;
    margin-top: 0.3em;
}

/* Indent the content inside details */
details > :not(summary) {
    margin-left: 20px;
}

/* drop caps */
main > p:first-of-type::first-letter {
    font-family: "Gadelica";
    font-size: 40pt;
    font-weight: normal;
    text-transform: capitalize;
    border: 2px solid var(--fg-color);
    float: left;
    margin: 0 .12em 0 0;
    /* padding: 0.07em; */
    line-height: 0.7em;
    display: inline-block;
    padding: 0.07em; /* Adjust as needed */
    padding-top:    0.25em;
    padding-bottom: 0.25em;
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-roman;
}

.MathJax {
    font-size: 0.95em !important;
}

/* body footer { */
/*    position : absolute; */
/*    bottom : 0; */
/*    height : 40px; */
/*    margin-top : 40px; */
/* } */

.gaelic {
    font-family: Gadelica;
}

.nihongo {
    font-family: Sawarabi Mincho;
    font-size: 0.9em;
}

sup {
    font-size: 0.7em;
    vertical-align: super;
    font-style: normal;
}

.footnotes {
    font-size: 0.8em;
}

.hanchor {
    visibility: hidden;
    text-decoration: none;
}

h1:hover a, h2:hover a, h3:hover a, h4:hover a {
    visibility: visible
}

.listing_date {
    float: right;
    text-align: right;
    font-variant-numeric: oldstyle-nums;
    font-feature-settings: "onum";
}

@media (max-width: 650px) {
    .listing_date {
        display: none;
    }
}

button {
    cursor: pointer;
}

blockquote {
    background-color: var(--blockquote-bg);
    border-left: 0.3em solid var(--fg-color);
    padding: 0.5em;
    margin: 1em 0;
    font-style: italic;
    color: var(--fg-color);
    opacity: 0.95;
}

blockquote p {
    margin: 0.5em 0;
}

blockquote::before {
    content: open-quote;
    font-size: 2em;
    line-height: 0;
    vertical-align: -0.4em;
    margin-right: 0.1em;
}

blockquote::after {
    content: close-quote;
    font-size: 2em;
    line-height: 0;
    vertical-align: -0.4em;
    margin-left: 0.1em;
}

.hanchor {
  position: absolute;
  margin-left: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
}

.hanchor:hover {
  opacity: 1;
}
